
*{
    margin: 0;
    padding:  0px;
}
.animtop{
    background-color:#F8E0E0;
    width: 100%;
    height: 40.23px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
.H1{
    word-spacing: 2PX ;
}
.toolbar{
    font-size: 19.75px;
    position: absolute;
    right: 30px;
    padding: 5px;
    
}
.img-1>img{
    width: 250px;
    height: 59px;
    display: block;
    margin:  0 auto;
    margin-top: 40px;
    

}
.icons{
    font-size: 24px;
    position: absolute;
    right:40px;
    top: 130px;
    display: flex;
    gap: 30px;
    
}
.icon1{
    font-size: 24px;
    position: absolute;
    left: 25px;
    top: 130px;
}
.img-2>img{
    width: 750px;
    height: 650px;
    display: block;
    margin:  0 auto;
    margin-top: 40px;
    margin-left: 40px;
}
.img-3>img{
    width: 750px;
    height: 750px;
    display: block;
    margin:  0 auto;
    margin-bottom: 50px;
    margin-right: 40px;
    padding: 5px;
}




    
    
