.main {
    width: 100%;
}

#heading {
    text-align: center;
    margin-bottom: 100px;
}

.underline {
    text-decoration: none;
    color: black;
}

#image, #about, #founder, #content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

#image {
    gap: 30px;
}

#image img, #about img, #founder img, #content img {
    align-self: center;
}

#image img {
    width: 170px;
    height: 80px;
    margin-bottom: 50px;
}

#founder img {
    margin-bottom: 30px;
}

#about img, #founder img, #content img {
    height: 800px;
}

#total {
    display: flex;
    justify-content: space-between;
    background-color: #f2d1d1; /* Adjusted to pink shade */
    padding: 20px;
}

#insta img {
    height: 40px;
}

#copy {
    display: flex;
    justify-content: center;
    background-color: #f2d1d1;
    align-items: center; /* Center content vertically */
}

#copy img {
    height: 20px;
}

.last ul {
    list-style-type: none;
    padding: 0;
}

.whatsapp-icon {
    position: fixed;  
    bottom: 20px;     
    right: 20px;      
    width: 150px;      
    height: auto;     
    z-index: 1000; 
}

@media (min-width: 769px) {
    #heading {
        font-size: 1.5rem; 
    }

    #image img {
        width: 12vw; 
    }

    #about img, #founder img, #content img {
        width: 70vw; 
    }

    #total {
        padding: 1.5%;
    }

    .last {
        font-size: 1.2rem; 
    }

}



/* Media Queries for Tablets and Smaller Screens */
@media (max-width: 768px) {
    #image img, #about img, #founder img, #content img {
        width: 100%; 
    }
    
    #total, #insta, #copy, .last {
        flex-direction: column;
        align-items: center;
        padding: 2%;
    }

    #heading {
        font-size: 1.2rem; 
        margin-bottom: 4%;
    }

    #copy img {
        height: 4vw; 
    }

    .whatsapp-icon {
        width: 40px;
        height: 40px;
        bottom: 10px;
        right: 10px;
    }
}


/* Media Queries for Very Small Screens */
@media (max-width: 480px) {
    #heading {
        font-size: 1rem; 
        margin-bottom: 3%;
    }

    #image img, #about img, #founder img, #content img {
        width: 100%; 
    }

    #total {
        padding: 1%;
        flex-direction: column;
    }

    .last {
        text-align: center;
        margin-bottom: 2%;
    }

    #copy img {
        height: 3vw; 
    }

    .whatsapp-icon {
        width: 40px;
        height: 40px;
        bottom: 10px;
        right: 10px;
    }
}
